@import "tailwindcss";
@import "tailwindcss/utilities";


html {
  font-family: var(--font-poppins), sans-serif;
}

.hero-bg{
  background-image: url("/hero-bg.png");
  background-size: cover;
  background-position: center;
  background-color: black;
  height: max-content;
}